<nav class="navbar">
  <div class="navbar-logo">
    <a href="<%= root_path %>">
      <img src="https://i.imgur.com/cBBxvvn.png" alt="Logo">
    </a>
  </div>

  <div class="navbar-menu">
    <ul>
      <li><a href="<%= professionals_path %>">Annuaire</a></li>
      <li><a href="<%= emergency_numbers_path %>">Numéros d'urgence</a></li>
      <li><a href="<%= contact_path %>" class="btn-professional">Je suis professionnel</a></li>
    </ul>
  </div>
</nav>
