<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render partial: 'partials/searchbar_pro' %>

<h2 class="inter-font">Comment ca marche ?</h2>

<%= image_tag 'UrgMed_home_page.png', alt: 'UrgMed - Home Page', class: 'centered-image' %>
