<div class="emergency-container">
  <div class="emergency-container__left">
    <div class="emergency-container__numbers--national">
      <h2 class="emergency-container__numbers-title">Numéros d'urgence nationaux</h2>
      <ul class="emergency-container__numbers-list">
        <% @national_numbers.each do |number| %>
          <%= render partial: 'emergency_card', locals: { number: number } %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="emergency-container__right">
    <div class="searchbar-city">
      <%= render partial: 'partials/searchbar_city', locals: { query_city: @query_city, controller_attribute: "extract-region search geolocation autocomplete" } %>
    </div>
    <div class="emergency-container__numbers--local">
      <h2 class="emergency-container__numbers-title">Numéros d'urgence locaux</h2>
      <ul class="emergency-container__numbers-list-local">
        <% @local_emergency_numbers.each do |number| %>
          <%= render partial: 'emergency_card', locals: { number: number } %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
