<h1>Emergency Numbers</h1>

<ul>
  <% @emergency_numbers.each do |emergency_number| %>
    <li>
      <strong><%= emergency_number.name %></strong>: <%= emergency_number.phone_number %><br>
      <%= emergency_number.description %>
    </li>
  <% end %>
</ul>
