
.filter-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alignement des éléments à droite */
}

.filter-toggle input[type="checkbox"] {
  display: none; /* Cache la checkbox */
}

.filter-toggle label {
  display: flex;
  align-items: center;
  cursor: pointer; /* Assure que le curseur devient une main lorsqu'on survole le label */
  position: relative;
  flex-direction: row-reverse; /* Inverse l'ordre des éléments pour mettre le texte à gauche du slider */
}

.filter-toggle .slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ddd;
  border-radius: 12px;
  transition: background-color 0.3s;
  cursor: pointer; /* Assure que le curseur devient une main lorsqu'on survole le slider */
}

.filter-toggle .slider::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.filter-toggle input[type="checkbox"]:checked + label .slider {
  background-color: #4caf50;
}

.filter-toggle input[type="checkbox"]:checked + label .slider::before {
  transform: translateX(26px);
}

.filter-toggle .label-text {
  margin-right: 10px; /* Marge à droite du texte pour le séparer du bouton */
  font-size: 16px;
  color: #333;
  pointer-events: none; /* Désactive les événements de souris sur le texte pour le rendre non cliquable */
}
