// _tags.scss

.searchtags {
  display: flex;
  margin-bottom: 10px;
  margin-right: 5px;
  gap: 4px;
}

.tag {
  background-color: $card-background; // Couleur de fond initiale
  color: $primary-color; // Couleur du texte initiale
  border: 1px solid #ddd; // Bordure légère
  border-radius: 12px;
  padding: 8px 16px; // Augmentation du padding pour plus de confort
  font-size: 0.9em;
  font-family: 'Asap', sans-serif;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $background-color; // Couleur de fond au survol
    border-color: $primary-color; // Changement de bordure au survol
  }

  &:active {
    background-color: $secondary-color; // Couleur de fond au clic
    color: #fff; // Changement de couleur du texte au clic
  }

  &.selected {
    color: #fff; // Couleur du texte lorsque sélectionné
    border-color: #0056b3; // Bordure lorsque sélectionné
  }

  &[data-tag="Médecin"].selected {
    background-color: #42a5f5; /* Couleur bleue légèrement atténuée pour Médecin */
  }

  &[data-tag="Pharmacie"].selected {
    background-color: #81c784; /* Couleur verte légèrement atténuée pour Pharmacie */
  }

  &[data-tag="Dentiste"].selected {
    background-color: #ba68c8; /* Couleur violet légèrement atténuée pour Dentiste */
  }

  &[data-tag="Urgences"].selected {
    background-color: #ffa726; /* Couleur orange légèrement atténuée pour Urgences */
  }
}
