.search-container {
  width: 490px;
  display: block;
  margin: 0 auto 20px auto;
  position: relative;

  input#search-bar {
    width: 80%;
    height: 45px;
    padding: 0 60px 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    padding-right: 30px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
  }

  .clear-icon {
    position: absolute;
    right: 105px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }

  .location-icon {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.list-group {
  position: absolute;
  z-index: 1000;
  max-height: 10rem;
  overflow-y: scroll;
  width: 80%;
  background-color: white;
  border: 1px solid #D0CFCE;
  box-sizing: border-box;
  margin-top: 0; /* Supprimer la marge en haut de la liste */
  border-top: none; /* Retirer la bordure en haut de la liste */
}

.list-group-item {
  padding: 10px;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}
