.annuaire-professionals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Utilisation de grid pour une disposition fluide */
  gap: 10px; /* Espacement réduit entre les cartes */
  padding: 20px; /* Padding pour le container global */
}

.annuaire-professional-category {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour s'assurer que le contenu ne déborde pas */
}

.annuaire-professional-card {
  padding: 1px 15px 1px 15px; /* Padding réduit en haut */
  margin-bottom: 0px; /* Espacement réduit entre les cartes */
}

h2 {
  font-size: 2em;
  margin: 20px 0 0 20px;
  text-align: left; /* Centrer le titre */
  color: #333;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #555;
  text-align: center; /* Centrer les titres des catégories */
  background-color: #f2f2f2; /* Couleur de fond pour les titres */
  padding: 10px 0;
  border-radius: 10px 10px 0 0; /* Arrondi les coins supérieurs */
}

.annuaire-searchbar-city {
  margin-top: 30px;
}
