.annuaire-professionals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Utilisation de grid pour une disposition fluide */
  gap: 10px; /* Espacement réduit entre les cartes */
  padding: 15px 20px 0px 20px; /* Padding pour le container global */
}

.annuaire-professional-category {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.annuaire-professional-scroll {
  height: 420px;
  overflow-y: auto;
}

.annuaire-professional-card {
  padding: 1px 15px 1px 15px; /* Padding réduit en haut */
  margin-bottom: 0px; /* Espacement réduit entre les cartes */
}

.annuaire-h2 {
  font-size: 2em;
  margin: 10px 0 0 20px;
  text-align: left; /* Centrer le titre */
  color: #333;
}

.annuaire-h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #555;
  text-align: center; /* Centrer les titres des catégories */
  background-color: #f2f2f2; /* Couleur de fond pour les titres */
  padding: 10px 0;
  border-radius: 10px 10px 0 0; /* Arrondi les coins supérieurs */
  position: relative; /* Ajout de position relative */
}

.annuaire-count {
  font-size: 0.9em;
  color: #999;
  position: absolute; /* Positionnement absolu */
  right: 300px; /* Aligner à droite avec un padding */
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%); /* Centrer verticalement */
}

.annuaire-searchbar-city {
  margin-top: 30px;
}

.annuaire-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.annuaire-open-now {
  margin-right: 30px; /* Ajustez selon vos besoins */
  margin-top: 20px; /* Ajustez selon vos besoins */
}
