.contact-form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 20px 30px 20px;
  background-color: #f0f4fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-form-fields {
  display: grid;
  gap: 15px;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
}

.contact-form-group label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #555;
  font-weight: 600; /* Semi-bold */
}

.contact-form-control {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form-control:focus {
  border-color: #0056b3;
  outline: none;
}

.contact-form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.contact-form-submit:hover {
  background-color: #0056b3;
}

textarea.contact-form-control {
  height: 120px;
  resize: vertical;
  font-family: Arial, sans-serif; // Remplacez par la police souhaitée
  font-size: 1em;
}

.notification {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 1s ease-out; /* Ajoutez une transition d'opacité */
}
