.emergency-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emergency-container__left, .emergency-container__right {
  flex: 1;
  min-height: 200px;
}

.emergency-container__left {
  margin-left: 20px;
}

.emergency-container__right {
  margin-right: 20px;
}

.emergency-container__numbers--national, .emergency-container__numbers--local {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emergency-container__numbers--national {
  margin-top: 10px;
}

.emergency-container__numbers-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.emergency-container__numbers-list {
  list-style-type: none;
  padding: 0;
  height: 685px;
  overflow-y: auto;
}

.emergency-container__numbers-list-local {
  list-style-type: none;
}

.emergency-container__numbers-list-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.searchbar-city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 115px;
  padding: 10px;
  margin-top: 0px;
}
