.hidden-admin-button {
  position: absolute;
  top: 296px;         /* Décalage du haut */
  right: 390px;        /* Décalage de la droite */
  width: 50px;        /* Largeur du bouton */
  height: 50px;       /* Hauteur du bouton */
  background-color: #ff0000; /* Couleur de fond rouge */
  border-radius: 50%; /* Rend le bouton rond */
  z-index: 1000;      /* S'assurer que le bouton est au-dessus du reste du contenu */
  opacity: 0;       /* Opacité à 50% */
}

.centered-image {
  display: block;
  margin: 75px auto;
}

.inter-font {
  font-weight: normal; /* Removes bold styling */
  padding-left: 20px; /* Adds left spacing */
  padding-top: 10px;
}

$primary-color: #0047AB;
$secondary-color: #37A6F7;
$text-color: #333;
$background-color: #f0f4fa;
$card-background: #fff;

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  background-color: #e8f0fe;
  padding: 50px 0;
  text-align: center;

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligne le contenu à droite */
    margin-left: 20px;
    gap: 40px;

    .hero-image {
      margin-left: 20px; /* Espace à gauche de l'image */
      margin-right: 50px;
      float: right;
  }

  .hero-text {
    padding: 20px;
    text-align: left; /* Alignement du texte à gauche */
    margin-right: 30px;

      h1 {
        font-size: 3.5em;
        color: $primary-color;
        font-family: 'Outfit', sans-serif;
        margin-bottom: 10px;
        margin-top: -100px;

        span {
          font-size: 0.75em;
          color: $secondary-color;
          display: block;
        }
      }

      .home-searchbar-city {
        margin-left: 0px; /* Espace à droite de la barre de recherche */
        margin-top: 20px; /* Espace au-dessus de la barre de recherche */
        margin-bottom: 20px;
      }

      p {
        font-size: 1.1em;
        margin-top: 10px; /* Espace au-dessus du paragraphe */
        margin-bottom: 20px; /* Espace en dessous du paragraphe */
        font-family: 'Asap', sans-serif;
      }
    }
  }
}

.services {
  padding: 30px 10px;
  background-color: $background-color;
  text-align: center;

  h2 {
    font-size: 2em;
    margin-bottom: 40px;
    font-family: 'Outfit', sans-serif;
  }

  .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .service-item {
      background-color: $card-background;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 30px; // Augmentez cette valeur
      width: calc(50% - 20px); // Modifiez cette valeur
      text-align: left;
      margin-bottom: 20px; // Ajoutez cette ligne
      cursor: pointer;

      .service-item-link {
        text-decoration: none; /* Supprime la décoration de texte par défaut des liens */
        color: inherit;
      }

      .service-icon {
        float: left; // Ajoutez cette ligne
        margin-right: 20px; // Ajoutez cette ligne

        img {
          max-width: 95%;
        }
      }

      h3, p {
        overflow: hidden; // Ajoutez cette ligne
      }

      h3 {
        font-size: 1.5em;
        color: $primary-color;
        margin-bottom: 10px;
        font-family: 'Outfit', sans-serif;
      }

      p {
        font-size: 1em;
        font-family: 'Asap', sans-serif;
      }
    }
  }
}
