.container-wrapper {
  display: flex;
  justify-content: space-between; /* Pour ajouter de l'espace entre les deux containers */
  gap: 20px; /* Espacement entre les colonnes */
  max-height: 650px;
  margin-top: 20px;
}

.container-left {
  flex: 2; /* Le container de gauche prend 2/3 de l'espace disponible */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
}

.searchbars {
  margin-bottom: 15px;
}

.container-map {
  width: 100%;
  height: 480px;
  background-size: cover; /* L'image couvre tout l'espace disponible dans le conteneur */
  padding: 20px;
}

.container-right {
  flex: 1; /* Le container de droite prend 1/3 de l'espace disponible */
  background-color: #add8e6; /* Bleu clair pour container-results */
  padding: 20px;
  margin-bottom: 20px; /* Si vous voulez conserver le margin-bottom */
   /* Margin à gauche de container-results */
  margin-right: 20px;
}

.mapboxgl-popup-close-button {
  width: 30px; /* Ajustez cette valeur pour augmenter la largeur */
  height: 30px; /* Ajustez cette valeur pour augmenter la hauteur */
  font-size: 20px;
}

.mapboxgl-popup-content {
  width: 200px; /* Ajustez cette valeur pour augmenter la largeur */
}

